/* GENERAL */
main {
    width: 100%;
    height: 100vh;
    position: relative;
}

section.background {
    width: 100%;
    height: 100%;
}

.section-up {
    height: 150px;
    background-color: #009688;
}

.section-down {
    height: calc(100vh - 150px);
    background-color: #DCDBD2;
}

.img-prof img {
    height: 100%;
    border-radius: 50%;
    cursor: pointer;
}

i,
.my-profile {
    cursor: pointer;
}

/***************************************/

/* MAIN CONTENT */
.my-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #EAEAEA;
    height: 95%;
    width: 1200px;
    display: flex;
}

/* Sezione contatti */
.col-contacts {
    width: 40%;
    height: 100%;
}

.my-container-contacts {
    height: calc(100% - 70px - 80px - 50px);
}

header.header-contacts {
    width: 100%;
    height: 70px;
}

.notifications {
    width: 100%;
    height: 80px;
    background-color: #8EDAFC;
    padding: 20px;
    display: flex;
    align-items: center;
}

.notifications .img-bell {
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
}

.contact-item {
    height: 15%;
    cursor: pointer;
}

.item-active {
    background-color: #E9EBEB;
}

nav.navbar {
    height: 50px;
}

/***************************************/

/* Sezione chat */
.col-chat {
    width: 60%;
    height: 100%;
}

header.header-chat {
    height: 70px;
}

.body-chat {
    height: calc(100% - 70px - 70px);
    background-color: #E5DDD5;
    display: flex;
    flex-direction: column;
}

.sent-mess {
    background-color: #D5F9BA;
    align-self: flex-end;
}

.received-mess {
    background-color: #FFFFFF;
    align-self: flex-start;
}

.mess-bar {
    height: 70px;
}